<%=@articule.title%>
<%=@articule.content%>
<<<<<<< HEAD

<form action="/articles/<%= @articule.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type='submit' value="delete">
</form>
=======
<!--<form action="/articles/<%= @article.id %>" method="post">-->
<!--  <input id="hidden" type="hidden" name="_method" value="delete">-->
<!--  <input type='submit' value="delete">-->
<!--</form>-->
>>>>>>> 3ef4ec406d5e1d2c6b0badc5633b85340dae97fd
